player-connection-mode=Listen
player-connection-guid=1095463373
player-connection-debug=0
player-connection-project-name=Membrana
player-connection-ip=192.168.100.29
player-connection-ip=192.168.25.81
player-connection-ip=10.0.75.1
player-connection-ip=192.168.100.14
player-connection-ip=10.147.17.5
player-connection-ip=192.168.56.1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
